<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="text-align: center">
            <button type="button" class="close close-modal-lh" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <span style="font-size: 4.7vw;font-weight: bold; color: #666666">Menu</span>
        </div>
        <div class="modal-body lh-modal-body">
            <div class="menuItem">
                Search {{util.modalContent}}
            </div>
            <div class="menuItem">
                More Cards
            </div>
            <div class="menuItem">
                Test Invites
            </div>
            <div class="menuItem">
                Clear
            </div>
            <div class="menuItem">
                Share
            </div>
            <div class="menuItem">
                Users
            </div>
            <div class="menuItem">
                Sign Up
            </div>
        </div>
    </div>
</div>