<div class="col-xs-12" id="searchImageFormContainer" ng-init="initPage()">
    <form name="searchImageForm" ng-submit="search()">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search" autofocus="" ng-model="searchInput"/>
<span class="input-group-btn">
<button class="btn btn-default" type="submit">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</button>
</span>
        </div>
    </form>
</div>
<div class="col-xs-12" id="searchResult">
    <ul>
        <li ng-repeat="result in searchResult">
            <img ng-src="{{result.tbUrl}}"/>
        </li>
    </ul>
</div>